
<% if  todo_item.errors.any? %>
    <div class="flash error ">
        <h2>
            <strong>
                <%= pluralize( todo_item.errors.count, "error") %> prohibited the todo item from being saved:
            </strong>
        </h2>
        <ul>
            <%  todo_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
   